html,
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: "#FFF";
}

.container{
  margin: 80px auto 0px auto;
  max-width: 1200px;  
}
a{
  text-decoration: none;
}

.nav-container{
  margin-left: auto;
  right: 10%;
  position: absolute;
}

.nav-container-logo{
  margin-right: auto;
  left:15%;
  position: absolute;
}
.feed-container{
  margin: auto;
}
.write{
  margin-bottom: 25px;
  margin-top:10px;
}
.writeButton{
  width:100px;
  height: 45px;
  text-transform: capitalize !important;
  font-size: 18px !important;
}
.log_in_right{
  width: 60%;
  height: 60%;
  position: fixed;
  right: 0px;
}
.img{
  width: 100%;
  height: auto;
}